:root {
    --main-bg-color: #9CBFF5;
    --sub-bg-color: #f2f7fb;
    --top-height: 70px;
    --main-transiton: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: unset;
}
li {
    list-style: none;
}
.row-grid {
    display: grid;
    justify-content: space-between;
}
/* Interface Admin */
.admin .row-grid {
    grid-template-columns: 20% 80%;
}



/* Start Sidebar */
.admin-sidebar {
    height: 100vh;
    background-color: var(--main-bg-color);
}
.admin-sidebar-top {
    text-align: center;
    height: var(--top-height);
    border-bottom: 1px solid gray;
}
.admin-sidebar-top .fa-user-tie{
    font-size: 2em;
}
.admin-sidebar-content {
    padding: 30px 0 0 30px;
}
.admin-sidebar-content ul li {
    padding: 6px;
    transition: var(--main-transiton);
}
.admin-sidebar-content ul li a i {
    margin-right: 6px;
}
.admin-sidebar-content ul li:hover {
    background-color: rgba(107, 92, 92, 0.4);
}
.sub-menu {
    display: none;
}
.sub-menu.active {
    display: block;
}
/* content */
.admin-content {
    background-color: var(--sub-bg-color);
}

/* End Sidebar */